---
import BaseHead from "../components/BaseHead.astro"
import SkipMain from "../components/SkipMain.astro"
import NavMain from "../components/NavMain.astro"
import AnimatedHeadline from "../components/Animations/AnimatedHeadline"
import FadeInUp from "../components/Animations/FadeInUp"
import FeatureItem from "../components/FeatureItem.astro"
import ServiceGrid from "../components/ServiceGrid.astro"
import ReviewGrid from "../components/ReviewGrid.astro"
import FooterMain from "../components/FooterMain.astro"
import FormBusiness from "../components/FormBusiness.astro"
---
<!DOCTYPE html>
<html lang="en">
  <BaseHead
    title="Business Insurance Coverage in Arizona | Moore Insurance"
    description="Protect your business with insurance that fits your needs. Moore Insurance helps Arizona business owners find the right coverage for property, liability, employees, and more. Get a quote today."
    image="https://moore-insurance.com/images/og-image.jpg"
  />
  <body>
    <SkipMain />
    <header>
      <NavMain />
    </header>
    <main>
        <section class="hero-sub-2" role="banner">
            <div class="padding-hero">
                <div class="container">
                    <div class="wrapper-hero">
                        <AnimatedHeadline client:load>
                            <h1 class="page-title">Business <span class="highlight">Coverage</span></h1>
                        </AnimatedHeadline>
                        <FadeInUp delay={0.5} duration={1} client:load>
                            <div class="wrapper-short">
                                <p class="body-regular">
                                  Whether you run a small local shop or manage a growing operation, your business deserves the right protection. We help Arizona business owners find smart and reliable coverage for property, liability, employees, and more. That way, you can stay focused on the work without worrying about the what-ifs.
                                </p>
                                <div class="wrapper-btn">
                                    <a class="btn" href="/quote/business">
                                        Get Your Free Quote
                                    </a>
                                    <a class="btn secondary" href="#coverage">
                                        See Coverage Options
                                    </a>
                                </div>
                            </div>
                        </FadeInUp>
                    </div>
                </div>
            </div>
        </section>
        <FadeInUp delay={0.125} duration={1} client:load>
            <section class="section-main">
              <div class="padding-section">
                <div class="container">
                  <div class="wrapper-col">
                    <div class="wrapper">
                      <h2 class="section-title">
                        Moore Insurance
                        <br />
                        Policy <span class="highlight">Advantage</span>
                      </h2>
                      <FeatureItem
                        title="Coverage That Works For You"
                        desc="We help you find business insurance that fits your operations, not someone else’s checklist. Whether you need general liability or workers’ comp, we’ve got you covered."
                      />
                      <FeatureItem
                        title="Straightforward Guidance"
                        desc="You don’t have time to dig through insurance fine print. We explain your options clearly so you can make confident decisions without second-guessing."
                      />
                      <FeatureItem
                        title="Support You Can Count On"
                        desc="Business moves fast. When your coverage needs change or a question comes up, we’re here to help you adjust and move forward with confidence."
                      />
                      <div class="wrapper-btn">
                        <a class="btn" href="/quote/business">
                          Get Your Quote
                        </a>
                        <a class="btn secondary" href="#coverage">
                          Coverage Options
                        </a>
                      </div>
                    </div>
                    <div class="wrapper-img">
                      <img class="img-reg" src="/images/static/city-2.webp" alt="A modern light rail train with a “TBOUND PHOENIX” sign approaches a station on a bustling city street, surrounded by tall reflective buildings." />
                    </div>
                </div>
              </div>
            </section>
        </FadeInUp>
        <FadeInUp delay={0} duration={1} client:load>
          <section id="coverage">
            <div class="padding-section">
                <div class="container">
                  <div class="wrapper-center">
                    <h2 class="section-title">
                      Coverage for <span class="highlight">Every</span> Part of Life
                    </h2>
                  </div>
                  <ServiceGrid categoryFilter="Business Coverage" />
                  <div class="wrapper-btn center">
                    <a class="btn" href="quote/business">Get Your Quote</a>
                  </div>
                </div>
            </div>
          </section>
        </FadeInUp>
        <FadeInUp delay={0.125} duration={1} client:load>
          <section>
            <div class="padding-section">
              <div class="container">
                <div class="wrapper-center">
                  <h2 class="section-title center">
                    What is <span class="highlight">Business</span> Coverage?
                  </h2>
                  <p class="body-regular center">
                    Business coverage is a group of insurance policies that protect different parts of your business. This can include your building, equipment, employees, and the work you do every day. The goal is to help you avoid major losses when something unexpected happens, like an accident, lawsuit, or property damage. Whether you run a small shop, a service-based business, or something in between, the right coverage helps you stay protected and focused on growth.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </FadeInUp>
        <section class="city-bg">
          <div class="padding-section">
            <div class="container">
              <div class="wrapper-center">
                <h2 class="page-title center">
                  Start <span class="highlight">Protecting</span>
                  <br />
                  Your Business
                </h2>
                <div class="wrapper-btn short-padding">
                  <a class="btn" href="/quote/business">
                    Get Your Quote
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <FadeInUp delay={0.125} duration={1} client:load>
          <section>
            <div class="padding-section">
              <div class="container">
                <ReviewGrid
                />
                <div class="wrapper-center">
                  <div class="wrapper-btn">
                    <a class="btn" href="/quote/business">
                      Get Your Free Quote
                    </a>
                    <a class="btn secondary" href="https://www.google.com/search?client=opera&q=moore+insurance&sourceid=opera&ie=UTF-8&oe=UTF-8" target="_blank" rel="noopener noreferrer">                      Leave Us A Review
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </FadeInUp>
        <FadeInUp delay={0.125} duration={1} client:load>
          <div class="padding-section lg-bottom">
            <div class="container">
              <h2 class="section-title center">
                Get Your <span class="highlight">Free</span> Quote
              </h2>
              <FormBusiness />
            </div>
          </div>
        </FadeInUp>
    </main>
    <FooterMain />
  </body>